[Unit]
Description=celeryflowerserver

[Service]
Type=exec
WorkingDirectory=/home/vagrant/calldb/web
ExecStart=/home/vagrant/.venv/bin/celery -A mycelery flower
Restart=always

[Install]
WantedBy=multi-user.target