{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}


{% block title %}
    Список абонентов
{% endblock %}

{% block content %}
    <script>$(document).ready(function () {
// Раскрытие/скрытие блоков с датами использования данных
    $('.usage-wrapper').click(function () {
        $(this).find('.more').toggle();
    });
// Обновление ссылки на экспорт при изменении флажков выбора колонок
    $('.column-checkbox').change(function () {
        let queryParams = new URLSearchParams(window.location.search);
        queryParams.delete('columns');

        $('.column-checkbox:checked').each(function () {
            queryParams.append('columns', $(this).val());
        });

        const newUrl = window.location.pathname + '?' + queryParams.toString() + '&export=excel';
        $('.btn-export-excel').attr('href', newUrl);
    });

// Инициализация выпадающих списков с помощью плагина Select2
    const regionSelect = $("#id_region");
    const utcSelect = $("#id_utc");
    const genderSelect = $("#id_gender");
    const tagSelect = $("#id_tag");
    const statusSelect = $("#id_status");


    if (regionSelect.length) {
        regionSelect.select2({
            placeholder: "Выберите регион",
            allowClear: true,
            multiple: true,
            closeOnSelect: true,
        });
    }
    if (utcSelect.length) {
        utcSelect.select2({
            placeholder: "Выберите часовой пояс",
            allowClear: true,
            multiple: true,
            closeOnSelect: true,
        });
    }
    if (genderSelect.length) {
        genderSelect.select2({
            placeholder: "Пол",
            allowClear: true,
            closeOnSelect: true,
        });
    }
    if (tagSelect.length) {
        tagSelect.select2({
            placeholder: "Тег",
            allowClear: true,
            closeOnSelect: true,
        });
    }
    if (statusSelect.length) {
        statusSelect.select2({
            placeholder: "Статус",
            allowClear: true,
            closeOnSelect: true,
        });
    }
});

$(document).ready(function () {
  const exportExcelButtons = $('.btn-export-excel');

  exportExcelButtons.each(function () {
    if ($(this).hasClass('no-export')) {
      $(this).prop('disabled', true).addClass('disabled');
    }
  });
});


$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip({
    show: { delay: 0 }
  });
});

$(document).ready(function() {
  $("#merge_fio").on("click", function() {
    const isChecked = $(this).prop("checked");
    const link = $(".btn-export-excel");
    const url = new URL(link.attr("href"), window.location.href);

    if (isChecked) {
      url.searchParams.set("merge_fio", "1");
    } else {
      url.searchParams.delete("merge_fio");
    }

    link.attr("href", url.toString());
  });
});

$(document).ready(function() {
  $(".btn-export-excel").one("click", function() {
    const link = $(this);
    const url = new URL(link.attr("href"), window.location.href);

    link.prop("disabled", true).addClass("disabled").attr("href", url.toString());
  });
});
</script>
    <div class="mt-3">
        <h1>Список абонентов ({{ total_count }} записей)</h1>
        <div class="table-responsive">
            <form method="get">
                <table class="table">
                    <tr>
                        <td>{{ form.region }}</td>
                        <td>{{ form.utc }}</td>
                        <td>{{ form.max_rows }}</td>
                        <td>{{ form.gender }}</td>
                        <td>{{ form.tag }}</td>
                        <td>{{ form.status }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary">Фильтровать</button>
                            <a href="{% export_excel_url %}"
                               class="btn btn-success btn-export-excel {% if total_count > 100000 %}no-export{% endif %}">Экспорт
                                в Excel</a>
                        </td>
                        <td>
                            <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top"
                                 title="Объединить ФИО">
                                <input class="form-check-input" type="checkbox" name="merge_fio" id="merge_fio" checked
                                       value="1">
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="table table-striped main">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns"
                                           value="last_name" {% checked_column 'last_name' has_data %}>
                                    Фамилия
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="first_name"
                                            {% checked_column 'first_name' has_data %}>
                                    Имя
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="middle_name"
                                            {% checked_column 'middle_name' has_data %}>
                                    Отчество
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="email"
                                            {% checked_column 'email' has_data %}>
                                    Электронная почта
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="phone"
                                            {% checked_column 'phone' has_data %}>
                                    Номер телефона
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="birth_date"
                                            {% checked_column 'birth_date' has_data %}>
                                    Дата рождения
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="address"
                                            {% checked_column 'address' has_data %}>
                                    Адрес
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="city"
                                            {% checked_column 'city' has_data %}>
                                    Город
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="region__name"
                                            {% checked_column 'region__name' has_data %}>
                                    Регион
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="region__utc"
                                            {% checked_column 'region__utc' has_data %}>
                                    UTC
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="gender"
                                            {% checked_column 'gender' has_data %}>
                                    Пол
                                </label>
                            </th>
                            <th>
                                <label>
                                    <input class="column-checkbox" type="checkbox" name="columns" value="status__name"
                                            {% checked_column 'status__name' has_data %}>
                                    Статус
                                </label>
                            </th>
                            <th>Дата использования</th>
                            <th>Теги</th>
                        </tr>


            </form>
            </thead>
            <tbody>
            {% for person in person_list %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.middle_name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phone }}</td>
                    <td>{{ person.birth_date }}</td>
                    <td>{{ person.address }}</td>
                    <td>{{ person.city }}</td>
                    <td>{{ person.region.name }}</td>
                    <td>{{ person.region.utc }}</td>
                    <td>{{ person.gender }}</td>
                    <td>{{ person.status.name }}</td>

                    <td>
                        <div class="usage-wrapper">
                            {% with person.personusage_set.all as usage_list %}
                                {% for usage in usage_list %}
                                    {% if forloop.first %}
                                        {{ usage.date_of_use }}<br>
                                    {% else %}
                                        <span class="more" style="display: none;">{{ usage.date_of_use }}<br></span>
                                    {% endif %}
                                {% endfor %}
                                {% if not usage_list %}
                                    Нет данных
                                {% endif %}
                            {% endwith %}
                        </div>
                    </td>
                    <td>
                        {% for tag in person.tags.all %}
                            <span class="badge">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}
